<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  {% set meta = {
    meta_description: meta_description,
    meta_image: meta_image,
    meta_title: meta_title,
    page_url: page.url,
    site_title: site.title,
    site_url: site.url,
    title: title
  } | meta %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ meta.description }}">
  <meta property="og:title" content="{{ meta.title }}">
  <meta property="og:url" content="{{ meta.url }}">
  <meta property="og:description" content="{{ meta.description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ meta.image }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ meta.title }}">
  <meta name="twitter:description" content="{{ meta.description }}">
  <meta name="twitter:url" content="{{ meta.url }}">
  <meta name="twitter:image" content="{{ meta.image }}">
  <title>{{ meta.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
  <main class="page-wrap">
    {{ content | safe }}
  </main>

  <script src="/scripts.js"></script>
</body>
</html>
