* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

[id] {
  scroll-margin-top: var(--gap);
}

ul,
ol {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

object,
embed {
  height: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button {
  background-color: transparent;
  border: 0;
}
